
<ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" routerLink="/dashboard" routerLinkActive="active">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/addEmp" routerLinkActive="active">Add new Employee</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" a routerLink="/getEmp" routerLinkActive="active" >Employees</a>
    </li>
    <!-- <li class="nav-item">
      <a class="nav-link" a routerLink="/popup" routerLinkActive="active" >Employee View</a>
    </li>

    <li class="nav-item">
      <a class="nav-link disabled" aria-disabled="true">Disabled</a>
    </li> -->

  </ul>
<!-- <nav>
    <a routerLink="/getEmp" routerLinkActive="active">Employees</a>
    <br>
    <a routerLink="/addEmp" routerLinkActive="active">new Employee</a>
    <br>
    <a routerLink="/dashboard" routerLinkActive="active">dashboard</a>
</nav> -->


<router-outlet />
